@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e1e1e1;
}

.red-glow {
  box-shadow: 0 0 10px red;
  border-radius: 50%;
}

.mint-green-glow {
  box-shadow: 0 0 10px #4F8C6F;
  border-radius: 50%;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}